:global
{
    .ant-card
    {
        margin-bottom: 24px;

        border-radius: 0;
    }
}

.weather
{
    &:hover
    {
        box-shadow: 4px 4px 40px rgba(143,201,251,.6);
    }
}

.quote
{
    &:hover
    {
        box-shadow: 4px 4px 40px rgba(246,152,153,.6);
    }
}

.areaButton
{
    font-size: 20px;

    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
